/* Navigation */

.nav {
    background-color: #E87722;
    height: 60px;
    color: white;
}

.nav img {
    height: 60px;
    width: 50px;
}

.nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav .menu li {
    display: inline-block;
    padding: 15px;
    font-size: 18px;
}

.nav .menu a {
    color: white;
}

.nav .menu a:hover {
    color: black;
}

.nav .school {
    padding-left: 100px;
    padding-top: 15px;
    font-size: 18px;
}
.nav #logo img {
    position: fixed;
    top: 0px;
    left: 20px;   
}

.right {
    position: absolute;
    right: 30px;
}

/* Calendar section */
#calendar {
	width: 90%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

/* Share section */

.share ul {
    list-style-type: none;
	margin: 0;
    padding: 0;
    text-align: center;
}

.share li {
    display: inline;
    font-size: 20px;
}

h1, h2, h3, h4 {
    text-align: center;
}

.desc {
    border-left: thick double #546E7A;
}

.calendar {
    display: flex;
}

.checkbox {
    margin-left: 4%;
}

.img-circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
