/* Navigation */

.nav {
    background-color: #E87722;
    height: 60px;
    color: white;
}

.nav img {
    height: 60px;
    width: 50px;
}

.nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav .menu li {
    display: inline-block;
    padding: 15px;
    font-size: 18px;
}

.nav .menu a {
    color: white;
}

.nav .menu a:hover {
    color: black;
}

.nav .school {
    padding-left: 100px;
    padding-top: 15px;
    font-size: 18px;
}
.nav #logo img {
    position: absolute;
    top: 0px;
    left: 20px;   
}

.right {
    position: absolute;
    right: 30px;
}

#math, #sidr-engr-content, #sidr-cs-content, #sidr-tech-content, #sidr-human-content, 
#sidr-social-content, #sidr-western-content, #sidr-eastern-content, #sidr-free-content{
    margin-top: 60px;
    padding-left: 25px;
    width: 26%;
    height: auto;
    background-color: #e0e0e0;
}

.border-right {
    border-right: solid #CFD8DC;
}

.border-bottom {
    border-bottom: solid #CFD8DC;
}

.border-left {
    border-left: solid #CFD8DC;
}


.sidr-header {
    margin-top: 20px;
    font-size: 24px;
}

.center {
    text-align: center;
}

div#sidr.sidr.right {
    padding-left: 1%;
    padding-right: 1%;
}

body {
    background: url("../img/bg.jpg");

}

table {
    font-size: 12px;
}

.side-menu-body .list-group a {
    background-color: #e0e0e0;
}

.side-menu-body .list-group button {
    background-color: #bdbdbd;
    margin-right: 5px;
}

.class-container, #math {
    position: absolute;
    right: 0;
    top: 60px;
    width: 25%;

}

#math {
    z-index: 9999;
}

.side-menu-body {
    height: 500px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.class-container h3 {
    text-align: center;

}