/* Navigation */

.nav {
    background-color: #E87722;
    height: 60px;
    color: white;
}

.nav img {
    height: 60px;
    width: 50px;
}

.nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav .menu li {
    display: inline-block;
    padding: 15px;
    font-size: 18px;
}

.nav .menu a {
    color: white;
}

.nav .menu a:hover {
    color: black;
}

.nav .school {
    padding-left: 100px;
    padding-top: 15px;
    font-size: 18px;
}
.nav #logo img {
    position: absolute;
    top: 0px;
    left: 20px;   
}

.right {
    position: absolute;
    right: 30px;
}

#math, #sidr-engr-content, #sidr-cs-content, #sidr-tech-content, #sidr-human-content, 
#sidr-social-content, #sidr-western-content, #sidr-eastern-content, #sidr-free-content{
    margin-top: 60px;
    padding-left: 25px;
    width: 26%;
    height: auto;
    background-color: #e0e0e0;
}

.border-right {
    border-right: solid #CFD8DC;
}

.border-bottom {
    border-bottom: solid #CFD8DC;
}

.border-left {
    border-left: solid #CFD8DC;
}


.sidr-header {
    margin-top: 20px;
    font-size: 24px;
}

.center {
    text-align: center;
}

div#sidr.sidr.right {
    padding-left: 1%;
    padding-right: 1%;
}

body {
    background: url("../img/bg.jpg");

}

table {
    font-size: 12px;
}

.side-menu-body .list-group a {
    background-color: #e0e0e0;
}

.side-menu-body .list-group button {
    background-color: #bdbdbd;
    margin-right: 5px;
}

.class-container, #math, #math-desc {
    position: absolute;
    right: 0;
    top: 60px;
    width: 25%;

}

#math {
    z-index: 200;
    top: 0px;
}

#math-desc {
    z-index: 250;
    background-color: #e0e0e0;
    height: 100%;
}

.dl-horizontal dd{
    right: 45px;
    position: relative;
    width: 160px;
}

.dl-horizontal dt{
    width: 105px;
}

#math-desc .row {
    margin-left: 0;
}

#math-desc dl {
    text-align: left;
}

.side-menu-body {
    height: 500px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.class-container h3 {
    text-align: center;
}

.img-circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#cart {
    min-height: 100px;
    width: 250px;
    background-color: #F5F5F5;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    position: absolute;
    left: 78.5%;
    top: 60px;
    z-index: 9999;
}